@using Driver.Domain.Entities
@model CarEntity

@{
    ViewBag.Title = "Manage cars";
    Layout = "_Layout";
    var viewData = (List<CarEntity>)ViewData["data"]!;
    var i = 0;
}

<h2>title</h2>

<partial name="_CreateCar"/>
<partial name="_UpdateCar"/>

@if (viewData.Any())
{
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    #
                </th>
                <th scope="col" class="px-6 py-3">
                    Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3">
                    Model
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in viewData)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @(i++)
                    </th>
                    <td class="px-6 py-4">
                        @item.Number
                    </td>
                    <td class="px-6 py-4">
                        @item.Color
                    </td>
                    <td class="px-6 py-4">
                        @item.Model
                    </td>
                    <td class="px-6 py-4 text-right space-x-1">
                        <a onclick="UpdateData('@item.Id')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Edit
                        </a>
                        <a asp-controller="Companion" asp-action="DeleteCompanion" asp-route-id="@item.Id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

<script>

    const options = {
      placement: 'left',
      backdrop: true,
      bodyScrolling: false,
      edge: false,
      edgeOffset: '',
      backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-30',
      onHide: () => {
          console.log('drawer is hidden');
      },
      onShow: () => {
          console.log('drawer is shown');
      },
      onToggle: () => {
          console.log('drawer has been toggled');
      }
    };

    function CreateData() {
      const form = document.getElementById('drawer-companion-create');
      const drawer = new Drawer(form, options);
      drawer.show();
    }

    function UpdateData(id) {
        const form = document.getElementById('drawer-companion-update');
        const drawer = new Drawer(form, options);
        drawer.toggle();
        fetch('/Companion/GetCompanionById?Id=' + id)
            .then((response) => response.json())
            .then((response) => {
				const id = document.getElementById('UpdateCarId');
                const number = document.getElementById('UpdateCarNumber');
                const color = document.getElementById('UpdateCarColor');
                const model = document.getElementById('UpdateCarModel');
                id.value = response.id;
                number.value = response.number;
                color.value = response.color;
                model.value = response.model;
            });
    }

</script>