@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="space-y-2">
    <li>
        <a id="profile" asp-page="./Index" class="@ManageNavPages.IndexNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <i class="fa-solid fa-route">A</i>
            <span class="ml-3">Profile</span>
        </a>
    </li>
    <li>
        <a id="email" asp-page="./Email" class="@ManageNavPages.EmailNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <i class="fa-solid fa-route">A</i>
            <span class="ml-3">Email</span>
        </a>
    </li>
    <li>
        <a id="change-password" asp-page="./ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <i class="fa-solid fa-route">A</i>
            <span class="ml-3">Password</span>
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins">
            <a id="external-login" asp-page="./ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                <i class="fa-solid fa-route">A</i>
                <span class="ml-3">Two-factor authentication</span>
            </a>
        </li>
    }
    <li>
        <a id="two-factor" asp-page="./TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <i class="fa-solid fa-route">A</i>
            <span class="ml-3">Two-factor authentication</span>
        </a>
    </li>
    <li>
        <a id="personal-data" asp-page="./PersonalData" class="@ManageNavPages.PersonalDataNavClass(ViewContext) flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <i class="fa-solid fa-route">A</i>
            <span class="ml-3">Personal data</span>
        </a>
    </li>
</ul>